<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs</title>
</head>
<body>
    <h1>Graphs</h1>

    <nav>
        <ul>
           <li><a href="/clientPage/<%=clientId%>">Client Page</a></li>
            <li><a href="/newDoc/<%=clientId%>">New Doc</a></li>
            <li><a href="/existingDocs/<%=clientId%>">Client Docs</a></li>
            <li><a href="/analytics/<%=clientId%>">Analytics</a></li>
            <li><a href="/graphs/<%=clientId%>">Graphs</a></li>
        </ul>
    </nav>
</body>
</html>